Repository atomxw/JoySafeter: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff-check, frontend-lint

backend-ruff-check:
  name: Backend Ruff Check (strict)
  entry: bash -c 'cd backend && .venv/bin/ruff check . || exit 1'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && pnpm run lint || exit 1'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

chore: Remove temporary test and debug output files.
  backend/test_output.txt
  backend/test_output_new.txt
  backend/test_wrapper_debug.txt
  backend/test_wrapper_debug_2.txt
  backend/test_wrapper_debug_3.txt
  backend/verify_import.py
Due: backend-ruff-check

feat: Introduce universal input/output mapping for nodes, add `node_outputs` to graph state, and enhance the transform node with a code editor.
  backend/app/core/graph/executors/action.py
  backend/app/core/graph/executors/agent.py
  backend/app/core/graph/executors/tool.py
  backend/app/core/graph/executors/transform.py
  backend/app/core/graph/graph_compiler.py
  backend/app/core/graph/graph_state.py
  backend/app/core/graph/mapping_utils.py
  backend/app/core/graph/node_executors.py
  backend/app/core/graph/node_wrapper.py
  frontend/app/workspace/[workspaceId]/[agentId]/components/PropertiesPanel.tsx
  frontend/app/workspace/[workspaceId]/[agentId]/services/nodeRegistry.tsx
Due: backend-ruff-check, frontend-lint

feat: Add 'State Management' and 'Aggregation' component categories and conditionally display advanced nodes based on advanced settings.
  frontend/app/workspace/[workspaceId]/[agentId]/components/ComponentsSidebar.tsx
  frontend/lib/i18n/locales/en.ts
  frontend/lib/i18n/locales/zh.ts
Due: frontend-lint

refactor: remove dynamic whitebox scan feature
  backend/app/dynamic_agent/core/scanner/__init__.py
  backend/app/dynamic_agent/core/scanner/agent.py
  backend/app/dynamic_agent/core/scanner/cli.py
  backend/app/dynamic_agent/core/scanner/engine.py
  backend/app/dynamic_agent/core/scanner/llm_reviewer.py
  backend/app/dynamic_agent/core/scanner/manager.py
  backend/app/dynamic_agent/core/scanner/rules.py
  backend/app/dynamic_agent/core/scanner/sast_scanner.py
  backend/app/dynamic_agent/models/__init__.py
  backend/app/dynamic_agent/models/scan.py
  backend/app/dynamic_agent/prompts/scenes/whitebox/whitebox_main_agent.md
  backend/app/dynamic_agent/prompts/system_prompts.py
  backend/app/dynamic_agent/tests/whitebox_test.zip
  backend/app/dynamic_agent/tools/core/agent_tool/agent_tool_prompts.py
  backend/app/dynamic_agent/web/__init__.py
  backend/app/dynamic_agent/web/routes/scan.py
  frontend/app/chat/config/modeConfig.ts
  frontend/app/chat/services/modeExamples.ts
  frontend/app/chat/services/modeHandlers/dynamicModeHandler.ts
  frontend/app/dynamic/whitebox-scan/page.tsx
  frontend/app/whitebox-scan/page.tsx
  frontend/components/dynamic/mode/ModeSelectDialog.tsx
  frontend/components/dynamic/whitebox/FindingList.tsx
  frontend/components/dynamic/whitebox/ScanReport.tsx
  frontend/components/dynamic/whitebox/UploadBox.tsx
  frontend/components/dynamic/whitebox/index.ts
  frontend/lib/api/dynamic/scanApi.ts
  frontend/lib/i18n/locales/en.ts
  frontend/lib/i18n/locales/zh.ts
  frontend/styles/dynamic/whitebox/FindingList.css
  frontend/styles/dynamic/whitebox/ScanReport.css
  frontend/styles/dynamic/whitebox/UploadBox.css
  frontend/styles/dynamic/whitebox/WhiteboxScan.css
Due: backend-ruff-check, frontend-lint

Remove timeout variable declarations and their cleanup function from `useCopilotEffects`.
  frontend/app/workspace/[workspaceId]/[agentId]/hooks/useCopilotEffects.ts
Due: frontend-lint

feat: Add Anthropic and Google Gemini model providers, including their respective LangChain dependencies.
  backend/app/core/model/providers/Anthropic.py
  backend/app/core/model/providers/Gemini.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-ruff-check

feat: Enhance model provider auto-sync to ensure consistency between database and available providers and add `model_count` to provider schema.
  backend/app/core/model/factory.py
  backend/app/core/model/providers/Anthropic.py
  backend/app/core/model/providers/Gemini.py
  backend/app/core/model/providers/Zhipu.py
  backend/app/main.py
  backend/app/services/model_provider_service.py
  frontend/types/models.ts
Due: backend-ruff-check, frontend-lint

feat: Create a `copyToClipboard` utility with fallback and integrate it into the Copilot chat message copying functionality.
  frontend/app/workspace/[workspaceId]/[agentId]/components/copilot/CopilotChat.tsx
  frontend/lib/utils/clipboard.ts
Due: frontend-lint

feat: add Zhipu model provider
  backend/app/core/model/providers/Zhipu.py
Due: backend-ruff-check

Path conditions:
  backend-ruff-check: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
