Repository atomxw/JoySafeter: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff-check, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Python - Ruff (fast linter and formatter)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Ruff check (强制检查，不允许错误)
  # 注意：此 hook 会检查整个 backend 目录，确保没有 lint 错误
  - repo: local
    hooks:
      - id: backend-ruff-check
        name: Backend Ruff Check (strict)
        entry: bash -c 'cd backend && .venv/bin/ruff check . || exit 1'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        always_run: false  # 只在有 Python 文件更改时运行
        stages: [commit]

  # Python - Type checking (mypy runs in Backend CI job only; skipped in pre-commit)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.13.0
  #   hooks:
  #     - id: mypy
  #       files: ^backend/app/
  #       args: [--ignore-missing-imports]
  #       additional_dependencies:
  #         - types-requests
  #         - types-PyYAML

  # Frontend - ESLint (强制检查，不允许错误)
  # 注意：此 hook 会检查整个 frontend 目录，确保没有 lint 错误
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && pnpm run lint || exit 1'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        always_run: false  # 只在有前端文件更改时运行
        stages: [commit]

# CI configuration
ci:
  autofix_commit_msg: 'style: auto-fix by pre-commit hooks'
  autoupdate_commit_msg: 'chore: update pre-commit hooks'

增强 动效
  frontend/app/chat/ChatInterface.tsx
  frontend/app/chat/components/MessageItem.tsx
  frontend/app/chat/components/ThreadContent.tsx
Due: frontend-lint

model set up 提升
  frontend/app/chat/ChatInterface.tsx
  frontend/app/workspace/[workspaceId]/[agentId]/components/CopilotPanel.tsx
  frontend/app/workspace/[workspaceId]/[agentId]/components/copilot/CopilotChat.tsx
  frontend/app/workspace/[workspaceId]/[agentId]/components/copilot/CopilotInput.tsx
  frontend/lib/i18n/locales/en.ts
  frontend/lib/i18n/locales/zh.ts
Due: frontend-lint

default Use deepAgents which support skills
  backend/app/core/graph/deep_agents/skills_manager.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/app/chat/components/ChatHome.tsx
  frontend/app/chat/config/modeConfig.ts
  frontend/app/chat/services/modeHandlers/defaultChatModeHandler.ts
  frontend/app/chat/services/modeHandlers/handlerFactory.ts
  frontend/app/workspace/[workspaceId]/[agentId]/services/graphTemplateService.ts
  frontend/lib/i18n/locales/en.ts
  frontend/lib/i18n/locales/zh.ts
  frontend/public/data/graph-templates/default-chat.json
Due: backend-ruff-check, frontend-lint

add Sandbox dockerfile
  .github/workflows/docker-build.yml
  deploy/docker/entrypoint.sh
  deploy/docker/sandbox.Dockerfile
Due: none

fix: 恢复 skills 依赖组件
  deploy/docker/sandbox.Dockerfile
Due: none

feat: 优化 sandbox.Dockerfile 并添加工具配置文件
  deploy/docker/configs/amass.yaml
  deploy/docker/configs/httpx.yaml
  deploy/docker/configs/katana.yaml
  deploy/docker/configs/naabu.yaml
  deploy/docker/configs/nuclei.yaml
  deploy/docker/configs/subfinder.yaml
  deploy/docker/sandbox.Dockerfile
Due: none

Fix Kiterunner download in sandbox Dockerfile
  deploy/docker/sandbox.Dockerfile
Due: none

del no use file
  0001-pre-commit-enhanced.patch
Due: none

support Oauth 2
  backend/alembic/versions/20260203_000004_000000000004_add_oauth_account_table.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/oauth.py
  backend/app/core/oauth_config.py
  backend/app/core/settings.py
  backend/app/models/__init__.py
  backend/app/models/auth.py
  backend/app/models/oauth_account.py
  backend/app/services/oauth_service.py
  backend/config/README_OAUTH_LOCAL.md
  backend/config/oauth_providers.example.yaml
  backend/config/oauth_providers.yaml
  backend/scripts/mock_oauth_server.py
  frontend/app/(auth)/signin/login-form.tsx
  frontend/components/auth/oauth-buttons.tsx
  frontend/lib/i18n/locales/en.ts
  frontend/lib/i18n/locales/zh.ts
Due: backend-ruff-check, frontend-lint

support Oauth
  backend/app/api/v1/oauth.py
  backend/app/core/oauth_config.py
  backend/app/services/oauth_service.py
Due: backend-ruff-check

support Oauth 2
  .gitignore
  backend/alembic/env.py
  backend/app/api/v1/oauth.py
  backend/app/repositories/auth_user.py
  backend/app/services/auth_service.py
  backend/app/services/login_init.py
  backend/config/oauth_providers.yaml
  backend/scripts/mock_oauth_server.py
  frontend/app/workspace/[workspaceId]/[agentId]/components/BuilderNode.tsx
Due: backend-ruff-check, frontend-lint

sandbox opt
  README.md
  README_CN.md
  backend/app/api/v1/chat.py
  backend/app/api/v1/oauth.py
  backend/app/core/agent/backends/__init__.py
  backend/app/core/agent/backends/constants.py
  backend/app/core/agent/backends/filesystem_sandbox.py
  backend/app/core/agent/backends/pydantic_adapter.py
  backend/app/core/agent/backends/runtime_config.py
  backend/app/core/agent/backends/state_sandbox.py
  backend/app/core/agent/backends/utils/__init__.py
  backend/app/core/agent/backends/utils/command_executor.py
  backend/app/core/agent/code_agent/executor/docker_executor.py
  backend/app/core/graph/deep_agents/backend_factory.py
  backend/app/core/graph/deep_agents/backend_manager.py
  backend/app/core/graph/deep_agents/node_config.py
  backend/app/core/graph/deep_agents/node_factory.py
  backend/app/core/graph/deep_agents/skills_manager.py
  backend/app/core/graph/deep_agents_builder.py
  backend/app/core/skill/sandbox_loader.py
  backend/app/core/tools/sandbox/__init__.py
  backend/app/core/tools/sandbox/daytona.py
  backend/app/core/tools/sandbox/modal.py
  backend/app/core/tools/sandbox/runloop.py
  backend/app/core/tools/sandbox/sandbox_factory.py
  backend/tests/backends/__init__.py
  backend/tests/backends/test_pydantic_adapter.py
  frontend/app/workspace/[workspaceId]/[agentId]/components/fields/DockerConfigField.tsx
  frontend/app/workspace/[workspaceId]/[agentId]/services/nodeRegistry.tsx
  frontend/lib/i18n/locales/en.ts
  frontend/lib/i18n/locales/zh.ts
Due: backend-ruff-check, frontend-lint

sso support j_d
  backend/app/api/v1/auth.py
  backend/app/api/v1/oauth.py
  backend/app/core/oauth/__init__.py
  backend/app/core/oauth/config.py
  backend/app/core/oauth/factory.py
  backend/app/core/oauth/protocols/__init__.py
  backend/app/core/oauth/protocols/base.py
  backend/app/core/oauth/protocols/jd_sso.py
  backend/app/core/oauth/protocols/oauth2.py
  backend/app/services/oauth_service.py
  backend/config/oauth_providers.example.yaml
  backend/config/oauth_providers.yaml
  frontend/lib/auth/api-client.ts
Due: backend-ruff-check, frontend-lint

update show name
  backend/config/oauth_providers.example.yaml
Due: none

rm run python code tool
  backend/app/core/agent/node_tools.py
  backend/app/core/tools/tool_registry.py
Due: backend-ruff-check

deepagents upgrade to 0.3.11
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix jd sso name
  backend/config/oauth_providers.example.yaml
Due: none

SKILL Format
  backend/app/core/skill_developer_deepagents/__init__.py
  backend/app/core/skill_developer_deepagents/tools.py
  backend/app/services/skill_service.py
  backend/pyproject.toml
  backend/scripts/db/init-db.py
  backend/scripts/load_skills.py
  backend/scripts/verify_deploy_tool.py
  backend/uv.lock
  skills/pdf/reference.md
  skills/pdf/scripts/check_bounding_boxes_test.py
  skills/pdf/scripts/convert_pdf_to_images.py
  skills/pdf/scripts/create_validation_image.py
  skills/pdf/scripts/extract_form_field_info.py
  skills/pdf/scripts/fill_fillable_fields.py
  skills/pdf/scripts/fill_pdf_form_with_annotations.py
  skills/planning-with-files/templates/findings.md
  skills/planning-with-files/templates/progress.md
  skills/planning-with-files/templates/task_plan.md
  skills/pptx/SKILL.md
  skills/pptx/html2pptx.md
  skills/pptx/ooxml.md
  skills/pptx/ooxml/schemas/ISO-IEC29500-4_2016/sml.xsd
  skills/pptx/ooxml/schemas/ISO-IEC29500-4_2016/xml.xsd
  skills/pptx/scripts/html2pptx.js
  skills/skill-creator/LICENSE.txt
  skills/skill-creator/references/workflows.md
  skills/skill-creator/scripts/quick_validate.py
  skills/xlsx/SKILL.md
  skills/xlsx/recalc.py
Due: backend-ruff-check

fix: remove remaining PENTEST references to fix CI errors
  backend/app/dynamic_agent/server.py
  backend/app/dynamic_agent/tools/core/agent_tool/agent_tool_prompts.py
  frontend/app/chat/services/modeHandlers/dynamicModeHandler.ts
  frontend/components/dynamic/mode/ModeSelectDialog.tsx
  frontend/lib/api/dynamic/chatService.ts
  frontend/lib/utils/dynamic/modeResolve.ts
  frontend/types/dynamic/session.ts
Due: backend-ruff-check, frontend-lint

fix: resolve ruff code quality errors in import script
  backend/scripts/import_pentest_skills.py
Due: backend-ruff-check

fix: add missing newlines at end of files for pre-commit
  skills/pentest-cloud-infrastructure/references/tools.md
  skills/pentest-cloud-infrastructure/references/workflows.md
  skills/pentest-ctf-binary/references/tools.md
  skills/pentest-ctf-binary/references/workflows.md
  skills/pentest-ctf-forensics/references/tools.md
  skills/pentest-ctf-forensics/references/workflows.md
  skills/pentest-enterprise-web/references/tools.md
  skills/pentest-enterprise-web/references/workflows.md
  skills/pentest-network-internal/references/tools.md
  skills/pentest-network-internal/references/workflows.md
  skills/pentest-osint-recon/references/tools.md
  skills/pentest-osint-recon/references/workflows.md
Due: none

docs: Introduce dedicated architecture documentation in English and Chinese, and update READMEs with a table of contents.
  README.md
  README_CN.md
  docs/ARCHITECTURE.md
  docs/ARCHITECTURE_CN.md
Due: none

refactor: Translate comments and docstrings to English and enhance Redis distributed lock with improved error handling and explicit timeouts.
  backend/app/core/redis.py
  backend/app/main.py
Due: backend-ruff-check

feat: Add UserSandbox model, update dependencies, and refactor Docker deployment and utility functions."
  .github/workflows/docker-build.yml
  backend/.dockerignore
  backend/app/core/agent/sample_agent.py
  backend/app/core/model/providers/AiSafety.py
  backend/app/core/redis.py
  backend/app/models/__init__.py
  backend/app/utils/__init__.py
  backend/pyproject.toml
  backend/requirements-db-init.txt
  backend/uv.lock
  deploy/README.md
  deploy/deploy.sh
  deploy/docker-compose-middleware.yml
  deploy/docker-compose.yml
  deploy/docker/init.Dockerfile
  skills/planning-with-files/SKILL.md
Due: backend-ruff-check

feat: add script to reset model credentials and update security documentation on encryption key stability.
  SECURITY.md
  backend/scripts/reset_model_credentials.py
Due: backend-ruff-check

refactor: streamline f-string formatting in logs and improve UI robustness with null checks.
  backend/app/core/graph/base_graph_builder.py
  backend/app/core/graph/executors/action.py
  backend/app/core/graph/executors/logic.py
  backend/app/core/graph/executors/transform.py
  backend/app/core/graph/graph_compiler.py
  backend/app/core/graph/graph_schema.py
  backend/app/core/graph/node_wrapper.py
  backend/app/services/schema_service.py
  frontend/app/workspace/[workspaceId]/[agentId]/components/PropertiesPanel.tsx
Due: backend-ruff-check, frontend-lint

docs: update README and add db-init profile to prod compose
  README.md
  README_CN.md
  deploy/docker-compose.prod.yml
Due: none

refactor: Update repository create methods to accept dictionary arguments, add condition field to EdgeSchema, and refine type handling.
  backend/app/core/graph/graph_schema.py
  backend/app/services/schema_service.py
  backend/app/services/test_service.py
Due: backend-ruff-check

refactor: replace external `normalize_tool_name` with an inline helper function for tool name normalization.
  backend/app/core/graph/executors/tool.py
Due: backend-ruff-check

fix last commit
  README_CN.md
Due: none

feat: add production warning for localhost FRONTEND_URL configuration
  backend/app/main.py
  backend/env.example
  deploy/.env.example
Due: backend-ruff-check

refactor: Enhance type hints and add explicit type casting across graph components for improved type safety.
  backend/app/core/agent/checkpointer/checkpointer.py
  backend/app/core/graph/base_graph_builder.py
  backend/app/core/graph/executors/action.py
  backend/app/core/graph/executors/agent.py
  backend/app/core/graph/executors/logic.py
  backend/app/core/graph/executors/state_management.py
  backend/app/core/graph/executors/tool.py
  backend/app/core/graph/executors/transform.py
  backend/app/core/graph/expression_evaluator.py
  backend/app/core/graph/graph_compiler.py
  backend/app/core/graph/graph_state.py
  backend/app/core/graph/node_wrapper.py
Due: backend-ruff-check

feat: Implement global error handling and aggregator node functionality within the graph compiler and executors.
  backend/app/api/v1/graph_tests.py
  backend/app/core/agent/checkpointer/checkpointer.py
  backend/app/core/graph/base_graph_builder.py
  backend/app/core/graph/code_generator.py
  backend/app/core/graph/executors/action.py
  backend/app/core/graph/executors/agent.py
  backend/app/core/graph/executors/logic.py
  backend/app/core/graph/executors/state_management.py
  backend/app/core/graph/executors/tool.py
  backend/app/core/graph/executors/transform.py
  backend/app/core/graph/expression_evaluator.py
  backend/app/core/graph/graph_compiler.py
  backend/app/core/graph/graph_schema.py
  backend/app/core/graph/node_type_registry.py
  backend/app/core/graph/node_wrapper.py
  backend/app/core/graph/standard_graph_builder.py
  backend/app/models/graph_test.py
  backend/app/services/schema_service.py
  backend/app/services/test_service.py
  backend/app/utils/stream_event_handler.py
  backend/test_output.txt
  backend/test_output_new.txt
  backend/test_wrapper_debug.txt
  backend/test_wrapper_debug_2.txt
  backend/test_wrapper_debug_3.txt
  backend/tests/core/graph/test_aggregator_node.py
  backend/tests/core/graph/test_global_error.py
  backend/tests/core/graph/test_graph_compiler.py
  backend/tests/core/graph/test_graph_schema.py
  backend/tests/services/test_schema_service.py
  backend/verify_import.py
  frontend/app/workspace/[workspaceId]/[agentId]/components/fields/VariableInputField.tsx
  frontend/bun.lock
  frontend/pnpm-lock.yaml
Due: backend-ruff-check, frontend-lint

feat: Reimplement state read/write badges with hover highlighting functionality and introduce a state variable for highlighting.
  frontend/app/workspace/[workspaceId]/[agentId]/components/BuilderNode.tsx
Due: frontend-lint

Refactor graph state mapping logic, improve type handling, and adjust import strategies across node executors and wrappers.
  backend/app/core/graph/executors/action.py
  backend/app/core/graph/executors/agent.py
  backend/app/core/graph/executors/tool.py
  backend/app/core/graph/mapping_utils.py
  backend/app/core/graph/node_wrapper.py
Due: backend-ruff-check

feat: Implement graph import/export functionality, enhance graph execution, and add connection utilities.
  backend/app/core/graph/base_graph_builder.py
  backend/app/core/graph/executors/action.py
  backend/app/core/graph/executors/agent.py
  backend/app/core/graph/executors/logic.py
  backend/app/core/graph/executors/state_management.py
  backend/app/core/graph/executors/tool.py
  backend/app/core/graph/executors/transform.py
  backend/app/core/graph/graph_compiler.py
  backend/app/core/graph/graph_schema.py
  backend/app/core/graph/node_executors.py
  backend/app/core/graph/node_type_registry.py
  backend/app/core/graph/standard_graph_builder.py
  backend/app/core/graph/trace_utils.py
  frontend/app/workspace/[workspaceId]/[agentId]/services/eventAdapter.ts
  frontend/app/workspace/[workspaceId]/[agentId]/stores/builderStore.ts
  frontend/app/workspace/[workspaceId]/[agentId]/utils/connectionUtils.ts
  frontend/app/workspace/[workspaceId]/[agentId]/utils/graphImportExport.ts
Due: backend-ruff-check, frontend-lint

style: Add blank lines for improved readability in schema and test services.
  backend/app/services/schema_service.py
  backend/app/services/test_service.py
Due: backend-ruff-check
